.bicycles {
  background-color: $color-gray-bg;
}

.bicycles__container {
  @include margin-auto;

  max-width: $desktop-width;
  width: 100%;
  padding-top: 152px;
  padding-right: 148px;
  padding-bottom: 147px;
  padding-left: 148px;

  @include tablet {
    padding-top: 54px;
    padding-right: 89px;
    padding-bottom: 20px;
    padding-left: 89px;
  }

  @include mobile {
    padding-top: 57px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-left: 25px;
  }
}

.bicycles__heading {
  @include style-reset;
  @include heading;

  margin-bottom: 52px;

  @include desktop {
    font-size: 2.1vw;
    line-height: 100%;
  }

  @include tablet {
    margin-bottom: 30px;
    font-size: 3.12vw;
    line-height: 125%;
  }

  @include mobile {
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 41px;
  }
}

.bicycles__list {
  @include list-reset;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bicycles__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30.3%;
  margin-right: 4.5%;
  margin-bottom: 48px;

  &:last-child {
    margin-right: 0;
  }

  &--touristic {
    padding-top: 10px;

    @include tablet {
      padding-top: 0;
      margin-right: 0;
    }
  }

  &--mountain {
    padding-top: 39px;

    @include tablet {
      padding-top: 0;
      margin-right: 0;
    }
  }

  @include tablet {
    width: 45.8%;
    margin-right: 8.4%;
    margin-bottom: 50px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  @include mobile {
    width: 100%;
    margin-right: 0;
    margin-bottom: 40px;
  }
}

.bicycles__item img {
  border-radius: 8px;
  object-fit: cover;

  @include tablet {
    width: 270px;
    height: 300px;
  }
}

.bicycles__photo-wrapper {
  position: relative;
  margin-bottom: 9px;
  z-index: 1;

  @include tablet {
    margin-bottom: 12px;
  }

  @include mobile {
    margin-bottom: 11px;
  }
}

.bicycles__photo-wrapper--touristic {
  &::before {
    content: "";
    position: absolute;
    width: 180px;
    height: 180px;
    top: 156px;
    left: -60px;
    z-index: -1;

    border: 27px solid $primary-green;
    box-sizing: border-box;
    border-radius: 50%;

    @include tablet {
      width: 127px;
      height: 127px;
      top: 201px;
      left: -37px;
      border: 18px solid $primary-green;
    }

    @include mobile {
      left: -24px;
    }
  }
}

.bicycles__photo-wrapper--mountain {
  &::before {
    content: "";
    position: absolute;
    width: 47px;
    height: 47px;
    left: -18px;
    top: -18px;
    border: 8px solid $primary-green;
    box-sizing: border-box;

    @include tablet {
      display: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 47px;
    height: 47px;
    right: -23px;
    bottom: -12px;
    border: 8px solid $primary-green;
    box-sizing: border-box;

    @include tablet {
      display: none;
    }
  }
}

.bicycles__photo-wrapper--children {
  &::before {
    content: "";
    position: absolute;
    width: 95px;
    height: 95px;
    right: -36px;
    top: -34px;
    border: 17px solid $primary-green;
    box-sizing: border-box;
    border-radius: 50%;

    @include tablet {
      width: 68px;
      height: 68px;
      top: -20px;
      right: -25px;
      border: 13px solid $primary-green;
    }

    @include mobile {
      right: -15px;
    }
  }
}

.bicycles__text {
  @include style-reset;
  font-size: 22px;
  font-weight: $semi-bold;
  line-height: $line-height;
  letter-spacing: -0.5px;
  text-align: center;
}
