.destination {
  padding-top: 60px;
  padding-right: 235px;
  padding-bottom: 20px;
  padding-left: 234px;

  @include tablet {
    padding-top: 28px;
    padding-right: 35px;
    padding-bottom: 10px;
    padding-left: 35px;
  }

  @include mobile {
    padding-top: 31px;
    padding-right: 0;
    padding-left: 0;
  }
}

.destination__heading {
  @include style-reset;
  @include heading;

  margin-bottom: 31px;
  font-size: 1.97vw;

  @include tablet {
    margin-bottom: 22px;
    font-size: 2.95vw;
  }

  @include mobile {
    margin-bottom: 25px;
    font-size: $font-size;
  }
}

.destination__text {
  @include style-reset;

  width: 50%;
  margin-left: auto;
  margin-bottom: 41px;
  margin-right: auto;
  font-size: 1.18vw;
  font-weight: $regular;
  line-height: 182%;
  letter-spacing: 0;
  text-align: center;
  color: $color-gray-text;


  @include tablet {
    width: 100%;
    margin-bottom: 16px;
    font-size: 2.22vw;
  }

  @include mobile {
    width: 90%;
    font-size: 17px;
    line-height: 31px;
    padding-right: 17px;
    padding-left: 15px;
    margin-bottom: 21px;
  }
}

.destination__map-wrapper {
  // width: 66.5vw;
  width: 100%;
  height: 36.85vw;
  background-size: cover;
  background-repeat: no-repeat;

  @include desktop {
    background-image: url("../img/bg-map-desktop@1x.webp");

    @include retina {
      background-image: url("../img/bg-map-desktop@2x.webp");
      background-size: 100% auto;
    }
  }

  @include tablet {
    width: 91vw;
    height: 71.6vw;
    background-image: url("../img/bg-map-tablet@1x.webp");

    @include retina {
      background-image: url("../img/bg-map-tablet@2x.webp");
      background-size: 100% auto;
    }
  }

  @include mobile {
    width: 100%;
    height: 250px;
    background-image: url("../img/bg-map-mobile@1x.webp");

    @include retina {
      background-image: url("../img/bg-map-mobile@2x.webp");
      background-size: 100% auto;
    }
  }
}

.destination__map-wrapper iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
