.destination h2 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: $semi-bold;
  line-height: 30px;
  letter-spacing: -0.005em;
  text-align: center;
  color: $primary-black;
}

.destination p {
  width: 38.5%;
  margin-left: auto;
  margin-bottom: 41px;
  margin-right: auto;
  font-size: 17px;
  font-weight: $regular;
  letter-spacing: 0;
  text-align: center;
  color: $color-gray-text;
}

.destination__map-wrapper {
  margin-right: auto;
  margin-left: auto;
  width: 66.45%;
  height: 530px;
  margin-bottom: 39px;
}

.destination__map-wrapper iframe {
  width: 100%;
  height: 100%;
}
