.footer__contacts {
  display: flex;
  justify-content: center;
  margin-bottom: 98px;
}

.footer__email {
  position: relative;
  display: block;
  padding-right: 90px;

  &::before {
    position: absolute;
    top: 10px;
    left: -30px;
    content: "";
    width: 26px;
    height: 20px;
    background-image: url("../img/icon-email.svg");
    background-size: cover;
  }
}
