.footer__contacts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 39.3%;
  padding-top: 20px;
  padding-right: 16px;
  padding-left: 40px;

  margin-bottom: 98px;
  margin-left: auto;
  margin-right: auto;

  @include tablet {
    width: 73%;
    padding-top: 12px;
    padding-right: 13px;
    padding-left: 44px;
    margin-bottom: 53px;
  }

  @include mobile {
    width: 87%;
    flex-direction: column;
    padding-top: 20px;
    padding-right: 0;
    margin-bottom: 51px;
  }
}

.footer__contacts a {
  &:hover,
  &:focus {
    color: $color-link-mobile;
  }

  &:active {
    color: $primary-green;
  }
}

.footer__email {
  position: relative;
  display: block;
  font-size: 16px;
  font-weight: $regular;
  line-height: 22px;
  color: $color-gray-link;

  &::before {
    position: absolute;
    top: 3px;
    left: -42px;
    content: "";
    width: 26px;
    height: 20px;
    background-image: url("../img/icon-email.svg");
    background-size: cover;
  }

  @include mobile {
    margin-bottom: 24px;
  }
}

.footer__phone {
  position: relative;
  display: block;
  font-size: 16px;
  font-weight: $regular;
  line-height: 22px;
  color: $color-gray-link;

  &::before {
    position: absolute;
    top: 0;
    left: -34px;
    content: "";
    width: 22px;
    height: 23px;
    background-image: url("../img/icon-phone.svg");

    @include tablet {
      top: -2px;
    }

    @include mobile {
      left: -11px;
    }
  }

  @include mobile {
    padding-left: 25px;
  }
}
