.header {
  position: relative;
  background-color: transparent;

  @include tablet {
    display: none;
  }
}

.header--close {
  @include tablet {
    display: none;
  }
}

.header--nojs {
  @include tablet {
    display: block;
  }
}

.header--nojs > .header__button,
.header--nojs ~ .lead__button--open {
  display: none;
}

.header--open {
  @include tablet {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    background-color: $color-white;
    z-index: 2;
  }
}

.header--open + main,
.header--open + footer {
  display: none;
}

.header__button {
  display: none;

  @include tablet {
    @include button-reset;

    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 52px;
    background-image: url("../img/icon-btn-menu-close.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: $color-white;
  }
}
