.lead {
  display: flex;
  flex-direction: column;
  width: 40%;
  min-width: 245px;
  margin-right: 11.1%;
  text-align: left;

  @include tablet {
    width: 100%;
    min-height: 340px;
    margin-top: 0;
    background-image: url("../img/bg-main-tablet@1x.jpg"), linear-gradient(to bottom, $primary-black, $color-link-mobile);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include retina {
      background-image: url("../img/bg-main-tablet@2x.jpg");
    }
  }

  @include mobile {
    padding-bottom: 94px;
    background-image: url("../img/bg-main-mobile@1x.jpg"), linear-gradient(to bottom, $primary-black, $color-link-mobile);

    @include retina {
      background-image: url("../img/bg-main-mobile@2x.jpg");
    }
  }
}

.lead__wrapper {
  margin-bottom: 17px;

  @include tablet {
    display: flex;
    margin-bottom: 75px;
  }

  @include mobile {
    margin-bottom: 36px;
  }
}

.lead__logo {
  @include tablet {
    padding-top: 21px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 21px;
  }

  @include mobile {
    padding-left: 17px;
  }
}

.lead__heading {
  @include style-reset;

  margin-bottom: 24px;
  font-size: 46px;
  line-height: 64px;
  font-weight: $bold;
  color: $color-white;
  letter-spacing: -0.005em;

  @include desktop {
    font-size: 3.2vw;
    line-height: 139%;
  }

  @include tablet {
    @include margin-auto;

    margin-bottom: 20px;
    font-size: 3.9vw;
    line-height: 140%;
    text-align: center;
  }

  @include mobile {
    @include padding-mobile;

    font-size: 30px;
    line-height: 42px;
  }
}

.lead__text {
  @include style-reset;

  font-size: 20px;
  line-height: 32px;
  font-weight: $light;
  letter-spacing: -0.005em;
  color: $color-white;
  opacity: 0.8;

  @include desktop {
    font-size: 1.39vw;
    line-height: 160%;
  }

  @include tablet {
    @include margin-auto;
    max-width: 435px;
    margin-bottom: 80px;
    font-size: 2.34vw;
    line-height: 180%;
    text-align: center;
  }

  @include mobile {
    @include padding-mobile;

    width: 100%;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 0;
  }
}

.lead__button {
  @include button-reset;
  display: none;
  width: 50px;
  height: 50px;
  background-color: $primary-green;

  @include tablet {
    display: block;
    margin-left: auto;
  }
}

.lead__button svg {
  pointer-events: none;
}
