.main__wrapper {
  display: flex;
  padding-top: 318px;
  padding-right: 280px;
  padding-left: 280px;

  min-height: 825px;
  margin-top: -62px;
  background-image: url("../img/bg-main-desktop@1x.jpg");
  background-position: center;
  background-size: contain;

  @include retina {
    background-image: url("../img/bg-main-desktop@2x.jpg");
  }

  @include tablet {
    @include style-reset;

    flex-direction: column;
    background-image: none;
  }
}
