.video {
  background: linear-gradient($background-black 78.4%, transparent 78.4%, transparent 100%);

  @include tablet {
    background: linear-gradient($background-black 76%, transparent 76%, transparent 100%);
  }

  @include mobile {
    background: linear-gradient($background-black 81.1%, transparent 81.1%, transparent 100%);
  }
}

.video__container {
  @include margin-auto;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: $desktop-width;
  padding-top: 121px;
  padding-right: 256px;
  padding-bottom: 97px;
  padding-left: 256px;

  @include tablet {
    padding-top: 78px;
    padding-right: 132px;
    padding-bottom: 45px;
    padding-left: 132px;
  }

  @include mobile {
    padding-top: 93px;
    padding-right: $padding-mobile;
    padding-bottom: 40px;
    padding-left: $padding-mobile;
  }
}

.video__heading {
  @include style-reset;
  @include heading;

  margin-right: 8px;
  margin-bottom: 20px;
  color: $color-white;

  @include desktop {
    font-size: 2.08vw;
    line-height: 100%;
  }

  @include tablet {
    margin-bottom: 23px;
    font-size: 24px;
  }
}

.video__text {
  @include style-reset;

  width: 41%;
  margin-bottom: 56px;
  font-size: 18px;
  font-weight: $light;
  line-height: 28px;
  letter-spacing: -0.005em;
  text-align: center;
  color: $color-white-07;

  @include desktop {
    width: 37%;
    font-size: 1.12vw;
    line-height: 175%;
  }

  @include tablet {
    width: 87%;
    font-size: 2.1vw;
    margin-bottom: 40px;
  }

  @include mobile {
    width: 100%;
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 28px;
  }
}

.video__wrapper {
  position: relative;
  line-height: 0;
}

.video__wrapper img {
  width: 65.4vw;
  object-fit: cover;

  @include mobile {
    width: 90vw;
  }
}

.video__button {
  @include button-reset;

  position: absolute;
  top: 44%;
  left: 50%;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  transform: translateX(-50%) translateY(10%);
  background-image: url("../img/icon-btn-play.svg");
  background-repeat: no-repeat;
  background-position: 29px center;

  @include tablet {
    top: 34%;
    width: 91px;
    height: 91px;
    background-size: 18px 25px;
    background-position-x: 40px;
  }

  @include mobile {
    top: 30%;
    width: 65px;
    height: 65px;
    background-size: 13px 18px;
    background-position-x: 28px;
  }
}
