@font-face {
  font-family: "Open Sans";
  font-weight: $bold;
  font-style: normal;
  font-display: swap;
  src: local("Open Sans"),
    url("../fonts/open_sans-bold.woff2") format("woff2"),
    url("../fonts/open_sans-bold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: $semi-bold;
  font-style: normal;
  font-display: swap;
  src: local("Open Sans"),
    url("../fonts/open_sans-semibold.woff2") format("woff2"),
    url("../fonts/open_sans-semibold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: $regular;
  font-style: normal;
  font-display: swap;
  src: local("Open Sans"),
    url("../fonts/open_sans-regular.woff2") format("woff2"),
    url("../fonts/open_sans-regular.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: $light;
  font-style: normal;
  font-display: swap;
  src: local("Open Sans"),
    url("../fonts/open_sans-light.woff2") format("woff2"),
    url("../fonts/open_sans-light.woff") format("woff");
}
