@mixin btn-reset {
  border: none;
  cursor: pointer;
  padding: 0;
}

@mixin style-reset {
  padding: 0;
  margin: 0;
}

@mixin list-reset {
  @include style-reset;
  list-style-type: none;
}

@mixin padding-mobile {
  padding-right: $padding-mobile;
  padding-left: $padding-mobile;
}
