$primary-black: #000000;
$secondary-black: #1f1f1f;
$background-black: #131314;
$color-white: #ffffff;
$color-white-02: rgba(255, 255, 255, 0.2);
$color-white-07: rgba(255, 255, 255, 0.7);
$color-white-08: rgba(255, 255, 255, 0.8);
$primary-green: #04f8e0;
$primary-green-hover: #46d6c8;
$color-gray: #1c1c1c;
$color-gray-link: rgba(0, 0, 0, 0.5);
$color-gray-text: rgba(0, 0, 0, 0.7);
$color-gray-border: #c9ccd4;
$color-gray-bg: #f6f7f9;
$color-gray-link-menu: #f6f6f6;
$color-link-mobile: #48494d;

// Widths
$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1440px;
$retina-2x: 2dppx;
$padding-mobile: 16px;

// Fonts
$font-family: "Open Sans", "Arial", sans-serif;
$font-size: 18px;
$line-height: 34px;
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
