$color-white: #FFFFFF;
$color-black: #1F1F1F;
$grey-border: rgba(255, 255, 255, 0.2);
$primary-green: #0AD9C6;
$grey-link: rgba(0, 0, 0, 0.5);
$grey-text: rgba(0, 0, 0, 0.7);

// Widths
$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1024px;
$retina-2x: 2dppx;

// Fonts
$font-family: "Open Sans", "Arial", sans-serif;
$font-size: 18px;
$line-height: 34px;
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
